#container {
    width: 480px;
    margin: 0 auto;
}

#sessions {
    display: flex;
    justify-content: center;
}

#sessions button {
    height: 4em;
    width: 12em;
}

#timer {
    display: flex;
    justify-content: center;

    padding: .5em;
    font-size: 8em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#functions {
    display: flex;
    justify-content: center;
}

#functions button {
    height: 4em;
    width: 8em;
}